<section class="technology grid-x grid-margin-x grid-margin-y grid-padding-x grid-padding-y">
        <div class="cell small-12 medium-6 bordered">
            <h3 class="margin-bottom-1">Languages</h3>
            <ul class="grid-x grid-margin-x grid-margin-y align-center">
                {% partial 'ingredients/technology' name="PHP" icon="fab fa-php" %}
                {% partial 'ingredients/technology' name="HTML 5" icon="fab fa-html5" %}
                {% partial 'ingredients/technology' name="CSS 3" icon="fab fa-css3" %}
                {% partial 'ingredients/technology' name="LESS" icon="fab fa-less" %}
                {% partial 'ingredients/technology' name="SASS" icon="fab fa-sass" %}
                {% partial 'ingredients/technology' name="JavaScript" icon="fab fa-js-square" %}
                {% partial 'ingredients/technology' name="SQL" icon="fas fa-table" %}
                {% partial 'ingredients/technology' name="Regex" icon="fas fa-asterisk" %}
                {% partial 'ingredients/technology' name="XPath" icon="fas fa-code" %}
            </ul>
        </div>
        <div class="cell small-12 medium-6 bordered">
            <h3 class="margin-bottom-1">Server Setup</h3>
            <ul class="grid-x grid-margin-x grid-margin-y align-center">
                {% partial 'ingredients/technology' name="Linux" icon="fab fa-linux" %}
                {% partial 'ingredients/technology' name="Nginx" image="nginx.svg" %}
                {% partial 'ingredients/technology' name="PHP" icon="fab fa-php" %}
                {% partial 'ingredients/technology' name="MySQL" icon="fas fa-database" %}
                {% partial 'ingredients/technology' name="Node" icon="fab fa-node" %}
                {% partial 'ingredients/technology' name="SSH" icon="fas fa-terminal" %}
                {% partial 'ingredients/technology' name="Email" icon="fas fa-envelope" %}
                {% partial 'ingredients/technology' name="SSL" icon="fas fa-lock" %}
                {% partial 'ingredients/technology' name="DNS" icon="fas fa-directions" %}
                {% partial 'ingredients/technology' name="Amazon" icon="fab fa-aws" %}
                {% partial 'ingredients/technology' name="DigitalOcean" icon="fab fa-digital-ocean" %}
            </ul>
        </div>
        <div class="cell small-12 medium-6 bordered">
            <h3 class="margin-bottom-1">Frameworks</h3>
            <ul class="grid-x grid-margin-x grid-margin-y align-center">
                {% partial 'ingredients/technology' name="Laravel" icon="fab fa-laravel" %}
                {% partial 'ingredients/technology' name="Symfony" image="symfony.svg" %}
                {% partial 'ingredients/technology' name="WordPress" icon="fab fa-wordpress" %}
                {% partial 'ingredients/technology' name="OctoberCMS" image="october.svg" %}
                {% partial 'ingredients/technology' name="Codeigniter" image="codeigniter.svg" %}
                {% partial 'ingredients/technology' name="jQuery" image="jquery.svg" %}
                {% partial 'ingredients/technology' name="Electron" image="electron.svg" %}
                {% partial 'ingredients/technology' name="Bootstrap" image="bootstrap.svg" %}
                {% partial 'ingredients/technology' name="Foundation" image="foundation.svg" %}
                {% partial 'ingredients/technology' name="Materialize" image="materializecss.svg" %}
            </ul>
        </div>
        <div class="cell small-12 medium-6 bordered">
            <h3 class="margin-bottom-1">Tools</h3>
            <ul class="grid-x grid-margin-x grid-margin-y align-center">
                    {% partial 'ingredients/technology' name="Git" icon="fab fa-git" %}
                    {% partial 'ingredients/technology' name="PHPUnit" icon="fas fa-check-square" %}
                    {% partial 'ingredients/technology' name="Cypress" image="cypress.svg" %}
                    {% partial 'ingredients/technology' name="CI/CD" icon="fas fa-arrow-circle-right" %}
                    {% partial 'ingredients/technology' name="Gulp" icon="fab fa-gulp" %}
                    {% partial 'ingredients/technology' name="webpack" image="webpack.svg" %}
                    {% partial 'ingredients/technology' name="Composer" image="composer.svg" %}
                    {% partial 'ingredients/technology' name="Sentry" image="sentry.svg" %}
            </ul>
        </div>
    </section>
