{% set posts = __SELF__.posts %}

<div class="grid-x grid-margin-x grid-margin-y" role="directory">
    {% for post in posts %}
        <a
            class="cell small-6 work-cell position-relative"
            data-open="reveal-work"
            data-request="onPortfolioOpen"
            data-request-data="id: {{ post.id }}"
            role="article">
            <div class="position-absolute bg-cover bordered" style="background-image: url('{{ post.featured_images.0.path }}');"></div>
            <div class="position-absolute overlay">
                <h3 class="position-absolute text-white margin-0">{{ post.title }}</h3>
            </div>
        </a>
    {% endfor %}
    <a class="cell small-6 work-cell cta position-relative" href="{{ 'contact'|page }}">
        <div class="position-absolute bordered">
            <h3 class="position-absolute text-white margin-0">Let's make something else!</h3>
        </div>
    </a>
</div>
