<button class="close-button bordered" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
</button>
<div class="bg-cover hero bordered position-relative margin-bottom-1" style="background-image: url('{{ post.featured_images.1.path }}');">
    <h2 class="position-absolute margin-0">{{ post.title }}</h2>
</div>
<div class="grid-x grid-margin-x grid-margin-y">
    <div class="cell medium-auto content medium-margin-bottom-0 medium-margin-right-0 last-child-margin-0">
        {{ post.content_html|raw }}
    </div>
    <div class="cell medium-4 medium-margin-bottom-0">
        <div class="bg-medium-gray padding-1 margin-bottom-1 bordered">
            <h3>Inside the tin</h3>
            <ul class="no-bullet square-list margin-0">
                {% for technology in post.technologies %}
                    <li>{{ technology.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <a href="{{ 'contact'|page }}" class="button alert expanded margin-0">Get in touch</a>
    </div>
</div>
