==
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ this.page.title }} | Christopher Johnson</title>
    <link href="https://fonts.googleapis.com/css?family=Anton|Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ ['assets/css/styles.css']|theme }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ 'assets/img/icons/apple-touch-icon.png'|theme }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ 'assets/img/icons/favicon-32x32.png'|theme }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ 'assets/img/icons/favicon-16x16.png'|theme }}">
    <link rel="manifest" href="{{ 'assets/img/icons/site.webmanifest'|theme }}">
    <link rel="mask-icon" href="{{ 'assets/img/icons/safari-pinned-tab.svg'|theme }}" color="#cc4b37">
    <link rel="shortcut icon" href="{{ 'assets/img/icons/favicon.ico'|theme }}">
    <meta name="apple-mobile-web-app-title" content="Christopher">
    <meta name="application-name" content="Christopher">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="{{ 'assets/img/icons/browserconfig.xml'|theme }}">
    <meta name="theme-color" content="#ffffff">
    {% styles %}
</head>
<body class="large-margin-top-1">
    <div class="grid-container padding-top-1 padding-bottom-2">
        <nav>
            <ul class="menu">
                <li><a href="{{ 'index'|page }}">Work</a></li>
                <li><a href="{{ 'about'|page }}">About</a></li>
                <li><a href="{{ 'contact'|page }}">Contact</a></li>
            </ul>
        </nav>
        {% page %}
    </div>
    <footer class="padding-1 text-center">
        &copy; {{ 'now'|date('Y') }} Christopher Johnson<br class="show-for-small-only"><span class="show-for-medium"> | </span><a href="{{ 'legal'|page }}">Boring Legal Stuff</a>
    </footer>
    <script src="{{ 'assets/build/modernizr.js'|theme }}"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.2.0/js/all.js" integrity="sha384-4oV5EgaV02iISL2ban6c/RmotsABqE4yZxZLcYMAdG7FAPsyHYAPpywE9PJo+Khy" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.0-rc.2/dist/js/foundation.min.js" integrity="sha256-G6jsRyH1fxbsvFIXSCuwYmI1aIDYBa28xscrvmYjJy0= sha384-vtoG68NvPc9azmFJr447vvY8qgdyA4FdaJ5/bqvzIM4eAdZfO0iyRRF8l2AAscYI sha512-43seCcNrHA0BQgrtyajB9sp8yOdv5c8QdYvgjP7zJ7v+dmzAcxYDQ2gupb9aztsNWBq1COIp/3NHYkQs4l/dkg==" crossorigin="anonymous"></script>
    {% framework extras %}
    <script>$(document).foundation();</script>
    {% scripts %}
</body>
</html>
