<section class="bordered padding-2 margin-top-2">
    <div class="grid-x grid-margin-x align-middle">
        <div class="cell medium-6">
            <h2 class="margin-0 medium-no-offset">{{ cta }}</h2>
        </div>
        <div class="cell medium-6 text-left medium-text-center">
            <a href="{{ 'contact'|page }}" class="button alert large margin-bottom-0 margin-top-1 medium-margin-0">{{ button }}</a>
        </div>
    </div>
</section>
