<li class="cell shrink text-center {{ image ? 'image' }}" {{ image ? ('style="fill: #cc4b37;"')|raw }}>
    {% if icon %}
        <i class="{{ icon }} fa-2x" style="color: #cc4b37"></i>
    {% elseif image %}
        {% include '../assets/img/brands/' ~ image %}
    {% endif %}
    <h6 class="text-muted">{{ name }}</h6>
</li>
