title = "About Me"
url = "/about"
layout = "default"
is_hidden = 0
==
<main class="margin-top-1">
    <div class="grid-x grid-margin-x grid-margin-y margin-bottom-1">
        <div class="cell medium-7 small-order-2 medium-order-1 bordered padding-1 medium-padding-2 text-justify last-child-margin-0">
            {% content 'about.md' contact='contact'|page %}
        </div>
        <div class="cell medium-5 small-order-1 medium-order-2 bg-cover bordered" style="background-image: url('{{ 'assets/img/at-work.jpg'|theme }}'); background-position: right;">
            <h1>&nbsp;About&nbsp;<br>&nbsp;Me&nbsp;</h1>
        </div>
    </div>
    {% partial 'technologies' %}
    {% partial 'ingredients/large-cta' cta="Now, tell me about you" button="Let's talk" %}
</main>
