title = "Contact Me"
url = "/contact"
layout = "default"
is_hidden = 0
==
<?php
    use Faker\Factory as Faker;

    function onStart()
    {
        $this['faker'] = Faker::create('en_GB');
        $firstName = $this['faker']->firstName;
        $lastName = $this['faker']->lastName;
        $this['name'] = $firstName . ' ' . $lastName;
        $this['email'] = strtolower($firstName . '.' . $lastName) . '@' . $this['faker']->safeEmailDomain;
    }

    function onContact()
    {
        Mail::sendTo('chris@oppin.co.uk', 'oppin::contact_form', post());
    }
?>
==
{% put styles %}
    <link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
{% endput %}

<main class="margin-top-1">
    <div class="grid-x grid-margin-x grid-margin-y margin-bottom-1">
        <div class="cell medium-6 bg-cover">
            <h1>&nbsp;Contact&nbsp;<br>&nbsp;Me&nbsp;</h1>

            <h2 class="h4 line-height-1-4 text-alert margin-top-2">Get in touch and let me know what kind of work you're looking for and I'll get back to you pronto!</h2>
        </div>
        <div id="form" class="cell medium-6 bordered bg-medium-gray padding-1 medium-padding-2 text-justify last-child-margin-0">
            {{ form_ajax('onContact', {
                update: "'contact-success': '#form'"
            }) }}
                {{ form_label('name', 'Your name', { class: 'text-black' }) }}
                {{ form_text('name', '', {
                    autocomplete: 'name',
                    autofocus: true,
                    placeholder: 'e.g. ' ~ name
                }) }}
                {{ form_label('email', 'Your email') }}
                {{ form_email('email', '', {
                    autocomplete: 'email',
                    placeholder: 'e.g. ' ~ email
                }) }}
                {{ form_label('phone', 'Your phone number') }}
                {{ form_text('phone', '', {
                    autocomplete: 'tel',
                    placeholder: 'e.g. ' ~ faker.numerify('03### ######')
                }) }}
                {{ form_label('content', 'Your message') }}
                {{ form_textarea('content', '', {
                    autocomplete: 'off',
                    placeholder: 'Say something...'
                }) }}
                {{ form_submit('Get in touch!', { class: 'button alert small-only-expanded margin-top-1 margin-bottom-0' }) }}
            {{ form_close() }}
        </div>
    </div>
</main>

{% put scripts %}
<script>
    $('input, textarea').focus(function() {
        $(this).prev('label').addClass('text-black');
    }).blur(function() {
        $(this).prev('label').removeClass('text-black');
    })
</script>
{% endput %}
