title = "Work"
url = "/"
layout = "default"
is_hidden = 0

[blogPosts portfolio]
pageNumber = 1
categoryFilter = "portfolio"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "index"
postPage = "index"
==
<?php

use RainLab\Blog\Models\Post;

function onPortfolioOpen()
{
    $post = Post::with(['categories' => function($query) {
        $query->where('slug', 'portfolio')
            ->orWhereHas('parent', function($query) {
                $query->where('slug', 'portfolio');
            });
    }])->findOrFail(post('id'));
    $post->technologies = $post->categories->where('nest_depth', 1);
    return [
        '#reveal-work' => $this->renderPartial('portfolio/reveal', [
            'post' => $post
        ])
    ];
}
?>
==
<header>
    <div class="grid-x grid-margin-x margin-vertical-1">
        <div class="cell medium-8 small-order-2 medium-order-1">
            <h1>&nbsp;Christopher&nbsp;<br>&nbsp;Johnson&nbsp;</h1>
        </div>
        <div class="cell medium-4 small-order-1 medium-order-2 margin-bottom-1 medium-margin-bottom-0">
            <div class="me bordered bg-cover" style="background-image: url('{{ 'assets/img/me.jpg'|theme }}')"></div>
        </div>
    </div>
    <div class="grid-x grid-margin-x align-middle margin-vertical-1">
        <div class="cell medium-8">
            <h2 class="h4 margin-0"><em>Full Stack</em> PHP Developer</h2>
        </div>
        <div class="cell medium-shrink hide-for-small-only">
            <small class="text-muted">{{
                random([
                    'Batteries<br>not included',
                    'Dishwasher<br>safe',
                    'May contain nuts',
                    'Refresh to update',
                    'Fish are friends',
                    'May the force<br>be with you',
                    'Scooby-Doo<br>where are you?',
                    'Free hugs!',
                    'There ain\'t no party<br>like an S-Club party',
                    'This is some<br>random text',
                    'Non-toxic',
                    'Do not eat',
                    'Serve chilled',
                    'Wash before use',
                    'Once upon a time...'
                ])|raw
            }}</small>
        </div>
        <div class="cell medium-auto text-right barcode hide-for-small-only">
            {% include '../assets/img/barcode.svg' %}
        </div>
    </div>
</header>
<main>
    <section class="bordered padding-1 medium-padding-2 margin-bottom-2">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell medium-4">
                <h2 class="margin-0">See My Work</h2>
                <p class="margin-0 text-justify">I've been privileged to work on a wide range of projects, from small business WordPress CMS installations to an international e-commerce site handling thousands of orders a day.<br>Here's a selection of them.</p>
            </div>
            <div class="cell medium-8">
                {% component 'portfolio' %}
            </div>
        </div>
    </section>
    <section class="grid-x padding-1 medium-padding-0 grid-padding-x grid-padding-y margin-vertical-2 align-center bg-black">
        <div class="cell medium-6">
            <h2 class="margin-0 line-height-1">Technology</h2>
        </div>
        <div class="cell medium-6 text-justify">
            <blockquote class="margin-0 last-child-margin-0">
                <p>I've been building websites for longer than I care to remember. I started off using ASP in 2001, and I've learnt how to do quite a bit of other stuff along the way.</p>
                <p>Here's an overview of some of the technologies I've worked with.</p>
            </blockquote>
        </div>
    </section>
    {% partial 'technologies' %}
    {% partial 'ingredients/large-cta' cta="I'm Ready, Are You?" button="Get in touch" %}
</main>
{# Portfolio modal #}
<div class="reveal reveal-work" id="reveal-work" data-reveal data-animation-in="scale-in-up fast" data-animation-out="scale-out-down fast"></div>
