title = "Legal Stuff"
url = "/legal-stuff"
layout = "default"
is_hidden = 0
==
<main class="margin-top-1">
    <h1>&nbsp;Legal&nbsp;<br>&nbsp;Stuff&nbsp;</h1>
    <div class="margin-top-1 medium-margin-top-2 padding-1 medium-padding-2 bordered last-child-margin-0">
        {% content 'legal.md' contact='contact'|page %}
    </div>
</main>
