.bg-cover {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-black {
    background: $black;
    color: $light-gray;
}

.bg-medium-gray {
    background: $medium-gray;
}

.break-out {
    margin-left: 0 - (map-get($grid-container-padding, small));
    margin-right: 0 - (map-get($grid-container-padding, small));

    @include breakpoint(medium) {
        margin-left: 0 - (map-get($grid-container-padding, medium));
        margin-right: 0 - (map-get($grid-container-padding, medium));
    }
}

.last-child-margin-0 > :last-child {
    margin: 0;
}
