.menu {
    li:last-child a {
        padding-right: 0;
    }

    a {
        color: $black;
        font-size: rem-calc(20);
        font-weight: $global-weight-bold;
        transition: color 0.3s;

        &:hover {
            color: $alert-color;

            &::before {
                transform: scale(1.2);
            }
        }

        &::before {
            background: $alert-color;
            content: '';
            display: inline-block;
            margin-right: 0.5em;
            position: relative;
            height: 0.6em;
            top: -0.04em;
            transition: all 0.3s;
            width: 0.6em;
        }
    }
}
