.reveal {
    &:focus {
        outline: none;
    }

    .close-button {
        background: $white;
        width: 1em;
        z-index: 10;

        @include breakpoint(medium) {
            position: fixed;
            right: calc((100% - #{$reveal-width}) / 2);
            top: calc(99px - 1em - #{$global-margin});

        }
    }
}
