// Fix for padding override

.medium-padding-0 {
    @include breakpoint(medium) {
        padding: 0;
    }
}

@if ($prototype-spacing-breakpoints) {
    @for $spacer from 0 through $prototype-spacers-count {
        @each $prop in (margin, padding) {
            // Loop through Responsive Breakpoints
            @each $size in $breakpoint-classes {
                @include breakpoint($size) {
                    @if $size != $-zf-zero-breakpoint {
                        .#{$size} {
                            @each $dir in (top, right, bottom, left, horizontal, vertical) {
                                // Top Side
                                &-#{$prop}-#{$dir}-#{$spacer} {
                                    @if ($prop == margin) {
                                        @include margin-direction($dir, $spacer);
                                    }
                                    @else if ($prop == padding) {
                                        @include padding-direction($dir, $spacer);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
