.technology {
    > .cell {
        background: $medium-gray;
    }

    .image > svg {
        display: inline-block;
        font-size: 2em;
        height: 1em;
        vertical-align: -.125em;
        width: auto;
    }

    ul.grid-x {
        list-style: none;
    }
}
