h1, h2, h3,
.h1, .h2, .h3 {
    text-transform: uppercase;
}

h1, .h1 {
    background: $black;
    color: $light-gray;
    display: inline;

    @include breakpoint(small only) {
        font-size: 16.7vw;
    }

    @include breakpoint(medium only) {
        font-size: 11.3vw;
    }

    &::before,
    &::after {
        content: '';
        display: block;
        height: 0.13em;
    }
}

h2, .h2 {
    position: relative;
    top: -0.125em;

    @include breakpoint(small only) {
        font-size: 15vw;
    }

    @include breakpoint(medium only) {
        font-size: 8vw;
    }

    &.medium-no-offset {
        @include breakpoint(medium) {
            top: 0;
        }
    }
}

h4, h5, h6,
.h4, .h5, .h6 {
    font-family: $body-font-family;
    font-weight: $global-weight-bold;
    text-transform: none;

    em {
        color: $primary-color;
        font-style: normal;
    }
}

h4, .h4 {
    @include breakpoint(small only) {
        font-size: 5.7vw;
    }
}

.square-list {
    li {
        &::before {
            background: $alert-color;
            content: '';
            display: inline-block;
            margin-right: 0.5em;
            position: relative;
            height: 0.6em;
            top: -0.04em;
            transition: all 0.3s;
            width: 0.6em;
        }
    }
}

.text-black {
    color: $black !important;
}

.text-muted {
    color: $dark-gray !important;
}

.text-light {
    color: $light-gray !important;
}

.text-white {
    color: $white !important;
}

.text-alert {
    color: $alert-color !important;
}

.line-height-1 {
    line-height: 1 !important;
    top: 0;
}

.line-height-1-4 {
    line-height: 1.4 !important;
    top: 0;
}

blockquote {
    @include breakpoint(medium) {
        padding: rem-calc(0 20 0 20)
    }

    &.medium-swap-side {
        @include breakpoint(medium) {
            border-left: none;
            border-right: $blockquote-border;
            padding-left: rem-calc(10);
            padding-right: rem-calc(30);
        }
    }
}
