.work-cell {
    &:focus {
        outline: none;
    }

    &::before {
        content: '';
        display: block;
        height: 0;
        padding-bottom: 100%;
    }

    > div {
        height: 0;
        left: 0;
        padding-bottom: calc(100% - #{$prototype-border-width * 2});
        right: 0;
        top: 0;
    }

    .overlay {
        background: fade-out($black, 0.7);
        height: calc(100% - #{$prototype-border-width * 2});
        left: $prototype-border-width;
        padding: 0;
        right: $prototype-border-width;
        top: $prototype-border-width;
    }

    .no-touchevents & {
        .bg-cover {
            transition: transform .3s linear;
        }

        .overlay {
            transition: transform .3s linear, visibility 0s linear .15s;
            transform: rotateY(-180deg);
            visibility: hidden;
        }

        &:hover {
            .bg-cover {
                transform: scale(1.1) rotateY(180deg);
            }

            .overlay {
                transform: scale(1.1);
                visibility: visible;
            }
        }
    }

    h3 {
        @extend .text-uppercase;

        bottom: calc(#{$global-padding} - 0.15em);
        left: $global-padding;
        right: $global-padding;
        text-shadow: $black 3px 3px, $black 1px -1px, $black -1px -1px, $black -1px 1px;
    }

    &.cta {
        background: $alert-color;
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.reveal-work {
    .hero {
        height: 0;
        padding-bottom: 40%;
    }

    h2 {
        bottom: calc(#{$global-padding} - 0.15em);
        color: $white;
        font-size: 2rem;
        left: $global-padding;
        text-shadow: $black 3px 3px, $black 1px -1px, $black -1px -1px, $black -1px 1px;
        top: auto;

        @include breakpoint(medium) {
            font-size: 3rem;
        }
    }

    h3 {
        font-size: rem-calc(24);
    }

    .content p {
        @extend .text-justify;
    }
}
